@import "tailwindcss";

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

input {
  outline: none;
}

.bg-white-0\.1 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-white-0\.2 {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-white-0\.3 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-white-0\.4 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-white-0\.5 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-white-0\.15 {
  background-color: rgba(255, 255, 255, 0.15);
}
.hover\:bg-white-0\.15:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.bg-black-0\.5 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black-0\.15 {
  background-color: rgba(0, 0, 0, 0.15);
}

.backdrop-blur-20px {
  backdrop-filter: blur(20px);
}

.backdrop-blur-6px {
  backdrop-filter: blur(6px);
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
